body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
}
.titulo-principal {
    display: block;
    padding: 1.5em;
    font-size: 2.2em;
    background-color: #22222200;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.item-disciplina {
    display: block;
    padding: 1em;
    font-size: 1.2em;
    border: 1.5px solid #000;
    max-width: 500px;
    border-radius: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}
.disciplinas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding: .5em;
}