/* variáveis */
:root {
    --carbon-black: #1b1b1e;
    --dust-grey: #d8d4d8;
    --dark-grey: #868686;
    --flag-red: #c80421;
    --metallic-red: #b4041e;
    --dark-wine: #780214;
    --ice-white: #f5f4f5;
    --pale-grey: #f1f1f1;

}


/* o body e a 'a' acho melhor deixar fixos*/
/* *{
        border-color: red;
    border-style: solid;
    border-width: 1px;
} */
body{
    margin: 0;
    background-color: var(--ice-white);
    font-family: 'Roboto';
    color: var(--carbon-black);

}
a{
    text-decoration: none;
    pointer-events: none;
}
.title-container {
    display: flex;
    justify-content: center;
    /* padding-top: 3rem; */
    padding: 1.5rem;
    background-color: var(--dust-grey);
}
.body-container {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-data {
    margin-right: 2rem;
}

/*mapa*/
/*============================*/
/* div que limita o mapa*/
#wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    transform-origin: 0 0;
    display: block;
}
/* o tamanho deste div é o tamanho o mapa */
#mapa{
    width: 9000px;
    height: 2500px;
    cursor: grab;
    transform-origin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*============================*/

/* disciplina */
/*============================*/
/* div da disciplina */
.disciplina{
    margin-top: 20px;
    text-align: center;
    border: 6px solid;
    border-color: var(--dark-wine);
    width: 300px;
    border-radius: 40px;
    cursor: pointer;
    pointer-events: auto;
    background-color: var(--dust-grey);
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease;
}
.disciplina:hover{
    transform: scale(1.05);
    background-color: var(--pale-grey);
}

/* textos da visualização de disciplinas obrigatórias */
.codigo {
    color: var(--carbon-black);
}
.nome{
    color: var(--carbon-black);
}
.creditos{
    color: var(--carbon-black);
}
/*============================*/
.numEtapa{
    color: var(--dark-wine);
}

/* div da etapa */
.etapa{
    box-sizing: border-box;
    margin: 50px;
    text-align: center;
    align-self: center;
}

/* div da coluna de eletivas */
.colEletiva{
    box-sizing: border-box;
    margin: 50px;
    text-align: center;
    align-self: center;
}

/* botões laterais*/
/*============================*/
/* locais de inicio dos botões*/
#obrigatoria{ 
    top: 5%;
}
#eletiva{
    top: 20%;
}
/* botão quando pode ser pressionado */
.option{

    left: 2%;
    position: fixed;
    border-radius: 2px;
    background-color: var(--dust-grey);
    color: var(--carbon-black);
    border: 4px solid #f0f0f0;
    outline: 2px solid;
    outline-color: var(--dark-wine);
    text-align: center;
    align-content: center;
    width: 120px;
    height: 40px;
    z-index: 10;
    font-weight: bold;
    font-size: 1em;
    font-family: calibri;
    pointer-events: auto;
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease;
    /* margin: em 0; */
}
.option:hover{
    transform: scale(1.05);
    /* scale: 1.05; */
    background-color: hsl(0, 1%, 60%);
    /* outline-color: hsl(0, 1%, 60%); */
    /* color: hsl(0, 0%, 100%); */
    /* border-color: hsl(0, 0%, 100%); */
}

/* botão quando não pode ser pressionado */
.optionAtiva{

    left: 2%;
    position: fixed;
    border-radius: 2px;
    background-color: var(--dark-grey);
    color: var(--pale-grey);
    border: 4px solid #f0f0f0;
    outline: 2px solid;
    outline-color: var(--dark-wine);
    text-align: center;
    align-content: center;
    width: 120px;
    height: 40px;
    z-index: 10;
    font-weight: bold;
    font-size: 1em;
    font-family: calibri;
    pointer-events: auto;
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease;
    /* margin: -1em 0; */
    
}
/*============================*/

/* botão para visualizar o currículo */
/*============================*/
#visualizar{
    border-radius: 15px;
    background-color: var(--flag-red);
    color: var(--ice-white);
    pointer-events: auto;
    padding: 0.5rem;
    width: 200px;
    height: 50px;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
#visualizar:hover{
    background-color: var(--metallic-red);
    color: var(--ice-white);
}
/*============================*/

/* informações laterais */
#information{
    font-family: sans-serif;
    font-size: 0.7em;
    background-color: var(--dust-grey);
    color: var(--carbon-black);
    position: fixed;
    z-index: 10;
    right: 0;
    height: 100vh;
    width: 30vw;
    padding: 5vh 5vh 0 10vh;
}
/* seta lateral que oculta as informações */
/*============================*/
#hideInfo
{
    /* border: 1px solid red; */
    background-color: var(--dust-grey);
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: var(--carbon-black);
    cursor: pointer;
    z-index: 10;
    text-align: center;
    line-height: 0;
    transition: transform 0.2 ease;
    /* margin: 0; */
}
#hideInfo:hover{
    color: var(--dark-grey);
}
.infoAtiva{
    right: 36%;
}
.infoInativa{
    right: 0;
    transform: rotateY(180deg);
}
/*============================*/

/* botão de voltar ao visualizar uma cadeira */
/*============================*/
#voltar{
    margin: 2%;
    position: fixed;
    border: 4px solid var(--carbon-black);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--carbon-black);
    font-weight: bold;
    font-size: 27px;
    z-index: 10;
    cursor: pointer;
    line-height: 0;
    pointer-events: auto;
}
#voltar:hover{
    /* scale: 1.2; */
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 1%, 60%);
    color: hsl(0, 1%, 60%);
}
/*============================*/

.disciplinaAtiva{
    margin-top: 20px;
    text-align: center;
    border: 12px solid #828282;
    width: 300px;
    border-radius: 5rem;
}




/*css da caixinha para explicar o que cada crédito é:*/
.tooltip {
    position: relative;
    cursor: help;
    color: #000000; 
    font-weight: 500;
}

.tooltip-box {
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    color: #fff;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 14px;
    width: 260px;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    z-index: 50;
}

.tooltip:hover .tooltip-box {
    opacity: 1;
    visibility: visible;
}